body{
  background-color:#blue;
}
ul{
  list-style-type:none;
  wideth: 100%;
  text-align:center;
}
h3{
  color:#52629D;
  font-size: 500%
}
p{
    color:#52629D;
  font-size: 200%
}
img{
  width: 50%
}
